---
- name: Download key packages
  apt:
    name:
      - curl
      - git
      - net-tools
      - tree
    state: present
    upgrade: safe
    update_cache: true
    cache_valid_time: 36000
  become: yes

- name: Copy over some dotfiles
  copy:
    src: "{{ item }}"
    dest: "$HOME/.{{ item }}"
  with_items:
    - gitconfig
    - inputrc

- name: Add user to necessary groups
  user:
    append: yes
    groups: ['sudo', 'dialout']
    user: 'vagrant'
  become: yes
